<h2>🍽 Меню ресторана</h2>
<head>
    <title>Меню</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="/static/style.css">
</head>
<div class="menu">
    <div class="dish-card">
        <img src="/static/images/borscht.jpg" alt="Борщ">
        <div class="content">
            <h4>Борщ</h4>
            <p>Классический украинский суп</p>
            <p><strong>250₽</strong></p>
        </div>
    </div>
    <div class="dish-card">
        <img src="/static/images/borscht.jpg" alt="Стейк">
        <div class="content">
            <h4>Стейк</h4>
            <p>Сочный говяжий стейк</p>
            <p><strong>700₽</strong></p>
        </div>
    </div>
    <div class="dish-card">
    <img src="/static/images/borscht.jpg" alt="Пицца">
    <div class="content">
        <h4>Пицца</h4>
        <p>Сыр, томаты, базилик</p>
        <p><strong>450₽</strong></p>
    </div>
</div>
</div>
